<table>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td>
          
            <strong>
              <%= link_to truncate(message[:title], :length => 25), message[:path] %>
            </strong>
            by
            <%= ' ' %>
            <%# link_to message[:author].username, user_path(message[:author]) %>
            <%= ' ' %>
            <%= time_ago_in_words(message[:created_at]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
