<% 
	teachers = Member.where('superuser = ?', true).pluck(:id) 
	latest_teacher_posts = Thredded::Topic.where("user_id IN (?)", teachers).order('updated_at DESC').limit(5)
%>

<%
 latest_teacher_posts.each do |topic| 

 	teacher = Member.find(topic.user_id)
 	name = teacher.username.present? ? teacher.username : teacher.email
 %>
	<p>
		<%= link_to topic.title + ' posted by ' + name, Thredded::UrlsHelper::topic_url(topic, only_path: true) %>
	</p>
<% 
	end 
%>