<div class="col-xs-12 current_issue">
	<div class="vert-center container">
		<div class="col-xs-10">
			<h4>Readings</h4>
			<h1><%= @podcast.title %></h1>
		</div>
	</div>
</div>


<div class="container">
	<div class="col-xs-12">
		<div class="readings">
			<% @podcast.podcast_details.each do |reading| %>
				<% if reading.entry.blank? %>
					<div class="col-xs-6 col-sm-3 col-md-2">
						<%= link_to (image_tag reading.title.downcase.squish + ".png", class: 'zodiac'), reading.link, target: '_blank' %>
					</div>
				<% else %>
					<div class="col-xs-6 col-sm-3 col-md-2">
						<%= link_to (image_tag reading.title.downcase.squish + ".png", class: 'zodiac'), moonvibeguide_view_reading_path(reading) %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
