@import "thredded";

.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none !important;
  padding: 0 !important;
  @include thredded-media-tablet-and-up {
    padding: 0 !important;
  }
}

#user_posts .teacher-post {
	display: none;
}

#teacher_posts .user-post {
	display: none;
}

.teacher-post {
	background-color: yellow;
}